Final Workflow.json
{
  "name": "Final Workflow",
  "nodes": [
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "=data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Media Team Data').item.json.Caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -5648,
        624
      ],
      "id": "fdf23b0e-50ef-40e8-8a4a-81f8f0144f94",
      "name": "post to facebook",
      "credentials": {
        "facebookGraphApi": {
          "id": "Fn9eD4CaZi2ZnEKf",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Social Media Post Form",
        "formDescription": "Fill out this form to request approval for your social media content. We'll review it and reach out via email with any feedback or confirmation.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post Title",
              "placeholder": "Enter Poster Name.....",
              "requiredField": true
            },
            {
              "fieldLabel": "Caption",
              "fieldType": "textarea",
              "placeholder": "=Enter caption for the post.....",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter email",
              "requiredField": true
            },
            {
              "fieldLabel": "Media Link",
              "placeholder": "Enter link.....",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Platform",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook"
                  },
                  {
                    "option": "Instagram"
                  },
                  {
                    "option": "LinkedIn"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Post Type",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Official"
                  },
                  {
                    "option": "Non-Official"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -8336,
        1040
      ],
      "id": "f44239fd-54d4-4aa0-83f5-10d00f1a848d",
      "name": "On form submission",
      "webhookId": "4224ae51-2f4a-4294-828f-2903dce38c6f"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "multynetledtv40@gmail.com",
        "subject": "Approval Needed: Your Scheduled Social Media Content",
        "message": "=Post Approval Needed For Following Post:\nPosted At: \nPost Title: {{ $('On form submission').item.json['Post Title'] }}\nPost Type: {{ $('On form submission').item.json['Post Type'] }}\nCaption: {{ $('On form submission').item.json.Caption }}\nMedia Link: {{ $('On form submission').item.json['Media Link'] }}\nTarget Platforms: {{ $('On form submission').item.json['Target Platform'] }}\nMedia Status: {{ $('Media Team Data').item.json['Media Status'] }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "No"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -6768,
        704
      ],
      "id": "5c44db0f-1699-402b-91d6-22464879db10",
      "name": "Send message and wait for response",
      "webhookId": "9e4de8aa-94e3-4432-b75f-e01f791b0a54",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=20883542#gid=20883542",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Post Title": "={{ $json['Post Title'] }}",
            "Post Type": "={{ $json['Post Type'] }}",
            "Caption": "={{ $json.Caption }}",
            "Media Link": "={{ $json['Media Link'] }}",
            "Media Status": "={{ $if($json['Media Link'], \"Done\", \"Pending\") }}\n",
            "Publisher Status": "Done",
            "Target Platforms": "={{\n  $if(\n    [\"Facebook\", \"Instagram\", \"Whatsapp\", \"LinkedIn\"].every(p => $json['Target Platform'].includes(p)),\n    \"All Platforms\",\n    $json['Target Platform'].join(\", \")\n  )\n}}",
            "Posting ID": "={{ $json.my_new_field }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Posting ID",
              "displayName": "Posting ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Link",
              "displayName": "Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Platforms",
              "displayName": "Target Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Status",
              "displayName": "Media Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publisher Status",
              "displayName": "Publisher Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final Approval",
              "displayName": "Final Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7664,
        976
      ],
      "id": "cc6df0da-2738-4e0f-8749-b26ec4fc1528",
      "name": "Media Team Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=20883542#gid=20883542",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Media Team Data').item.json.Date }}",
            "Post Title": "={{ $('Media Team Data').item.json['Post Title'] }}",
            "Post Type": "={{ $('Media Team Data').item.json['Post Type'] }}",
            "Caption": "={{ $('Media Team Data').item.json.Caption }}",
            "Media Link": "={{ $('Media Team Data').item.json['Media Link'] }}",
            "Target Platforms": "={{ $('Media Team Data').item.json['Target Platforms'] }}",
            "Media Status": "={{ $('Media Team Data').item.json['Media Status'] }}",
            "Publisher Status": "={{ $('Media Team Data').item.json['Publisher Status'] }}",
            "Final Approval": "={{ $if($json.data.approved, \"Yes\", \"No\") }}",
            "Time": "={{ $now.format('HH:mm') }}",
            "Posting ID": "={{ $('Code to Generate Unique ID').item.json.my_new_field }}"
          },
          "matchingColumns": [
            "Posting ID"
          ],
          "schema": [
            {
              "id": "Posting ID",
              "displayName": "Posting ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Link",
              "displayName": "Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Platforms",
              "displayName": "Target Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Status",
              "displayName": "Media Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publisher Status",
              "displayName": "Publisher Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final Approval",
              "displayName": "Final Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6544,
        704
      ],
      "id": "31ef44cb-fec9-4b3f-9e47-0b3c12a5bc85",
      "name": "Data after Admin Validation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Media Link'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7440,
        976
      ],
      "id": "a72d5d1d-3731-4e09-b6b9-465192d324f4",
      "name": "Read Image",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oUhyxKDwRISJVzmb",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Media Team Data').item.json['Target Platforms'] }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c18aadfc-8af8-4ff9-8d49-e76bbff25865"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dfc59841-4bc7-4d9b-a53a-5cfd5ec05864",
                    "leftValue": "={{ $('Media Team Data').item.json['Target Platforms'] }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "527aef5d-380a-47cf-a4e8-1150f891f87e",
                    "leftValue": "={{ $('Media Team Data').item.json['Target Platforms'] }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -5872,
        400
      ],
      "id": "c49be4e8-ccc5-470d-b885-80ad74d915a8",
      "name": "Choose between platforms"
    },
    {
      "parameters": {
        "operation": "information"
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -7216,
        976
      ],
      "id": "08b651d7-6197-4719-b198-5f63dff2fab6",
      "name": "Edit Image1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=17841478393042453",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('Media Team Data').item.json.Caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('HTTP Request').item.json.url }}"
              },
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "854d8f2e-d462-4630-9afb-25465d28399e",
      "name": "Post to Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -4976,
        192
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "Fn9eD4CaZi2ZnEKf",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "person": "aM5MfgaaaS",
        "text": "={{ $('Media Team Data').item.json.Caption }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "={{ $('Media Team Data').item.json['Post Title'] }}"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -5648,
        816
      ],
      "id": "166fbd8c-4a13-4308-bcf8-bae09b2d6548",
      "name": "Create LinkedIn post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "V35wvfGXuB9Mrpv2",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/djnbdjql4/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_unsigned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5648,
        320
      ],
      "id": "55a58c46-424e-46dd-b04e-7e210e0d865f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=17841478393042453",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Media Team Data').item.json.Caption }}"
              }
            ]
          }
        }
      },
      "id": "87578e09-1404-4c8c-86b7-2c7f9d5a780f",
      "name": "Create Instagram Container ID",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -5424,
        240
      ],
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "Fn9eD4CaZi2ZnEKf",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5200,
        192
      ],
      "id": "77712ac1-2404-48ed-a149-95fb17a80394",
      "name": "Wait",
      "webhookId": "01adb68c-893c-444a-ad4f-9babed41c1aa"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $if($json.id, $json.id, \"None\")}}",
            "Platform": "Instagram",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Result": "={{ $if($json?.id, \"Successful\", \"Unsuccessful\") }}\n",
            "Post Title": "={{ $('Data after Admin Validation').item.json['Post Title'] }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4752,
        192
      ],
      "id": "874f959f-116f-483c-bf1d-41b13eaa5802",
      "name": "Event Log for IG",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $if($json.post_id, $json.post_id, \"None\") }}",
            "Platform": "Facebook",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Post Title": "={{ $('Data after Admin Validation').item.json['Post Title'] }}",
            "Result": "={{ $if($json?.post_id, \"Successful\", \"Unsuccessful\") }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5424,
        624
      ],
      "id": "68e6ca65-cfad-43b6-b6dc-2c4a48213f2a",
      "name": "Event Log For FB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $if($json.urn, $json.urn, 'None') }}",
            "Platform": "LinkedIn",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Result": "={{ $if($json.urn,\"Successful\", 'Unsuccessful') }}",
            "Post Title": "={{ $('Data after Admin Validation').item.json['Post Title'] }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5424,
        816
      ],
      "id": "3815cb84-b2d7-4ba4-a7e8-40deb3ad435c",
      "name": "Event Log for LinkedIn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Workflow Post Failed ",
        "message": "=Hi Media Team,\n<br></br>\nAn Error Occured while automating the process, Please try again.\n<br></br>\nRegards,\n<br></br>\nAdmin Team (n8n)",
        "options": {}
      },
      "id": "46888ef2-659c-4c9b-b07e-cf5fd79c4cfe",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -7008,
        1232
      ],
      "webhookId": "5a6ceb8c-0e0b-4548-89ba-b18f6a825939",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "=None",
            "Platform": "Instagram",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Result": "=UnSuccessful",
            "Post Title": "={{ $('Data after Admin Validation').item.json['Post Title'] }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4976,
        416
      ],
      "id": "221f0211-f555-485d-84be-ecbb936a3e1a",
      "name": "Event Log for IG Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ $('Event Log for IG').item.json.Result?.trim() }}\n",
              "rightValue": "Un",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4528,
        192
      ],
      "id": "a268690f-8ade-4677-a293-37cc4f0899cf",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ $json.Result }}\n",
              "rightValue": "Un",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5200,
        624
      ],
      "id": "2124ee9e-d041-4396-b1fb-b470ba0087df",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ $json.Result }}\n",
              "rightValue": "Un",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5200,
        816
      ],
      "id": "fe90bd23-9bce-414c-ad2a-7fb98ab62e92",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ $json['Media Link'] }}",
              "rightValue": "drive.google.com/file",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8112,
        1040
      ],
      "id": "ec3dbabc-8e20-41f6-81ff-f778456626ee",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Incorrect Google Drive Media Link Credentials",
        "message": "=Dear Media Team,\n<br></br>\nWe attempted to process the Google Drive media link you provided, but it appears that the credentials are incorrect. As a result, the link cannot be executed successfully.\n<br></br>\nKindly review the link and ensure that the correct access permissions or credentials are enabled, then refill the form.\n<br></br>\nThank you.\n<br></br>\nBest regards,\n<br></br>\nAdmin Team (n8n)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -6768,
        1136
      ],
      "id": "359c7a39-bf40-4b49-8779-7f7552cdecea",
      "name": "Wrong Media Link Message",
      "webhookId": "9e4de8aa-94e3-4432-b75f-e01f791b0a54",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ $json['Media Link'] }}",
              "rightValue": "=Un",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6992,
        800
      ],
      "id": "c1e9c876-90b9-4f04-a4e4-84aa1087f3de",
      "name": "If4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Incorrect Google Drive Media Link Credentials",
        "message": "=Dear Media Team,\n<br></br>\nWe attempted to process the Google Drive media link you provided, but it appears that the credentials are incorrect. As a result, the link cannot be executed successfully.\n<br></br>\nKindly review the link and ensure that the correct access permissions or credentials are enabled, then refill the form.\n<br></br>\nThank you.\n<br></br>\nBest regards,\n<br></br>\nAdmin Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -6176,
        864
      ],
      "id": "58ac99eb-bb24-4b00-8d49-600585006f70",
      "name": "Official Post Error",
      "webhookId": "9e4de8aa-94e3-4432-b75f-e01f791b0a54",
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643fad6f-3b20-4623-a7b4-7218e06ec7fa",
              "leftValue": "={{ \n    Object.values($('Edit Image1').item.json.size).join(\",\") === \"1280,1280\" && \n    $('On form submission').item.json['Post Type'] === \"Official\"\n}}",
              "rightValue": "=Undef",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "217a2ebf-7d62-46ba-aca0-fe508556a669",
              "leftValue": "={{ $('On form submission').item.json['Post Type'] }}",
              "rightValue": "Non-Official",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6320,
        704
      ],
      "id": "dc3403e6-4728-4de8-b728-e1ff59ea2d43",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"Media Link\"].match(/\\/d\\/([^/]+)/)[1] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6096,
        416
      ],
      "id": "fe0a96f9-8e5c-422b-ac16-7dae64586a31",
      "name": "Read Image4",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oUhyxKDwRISJVzmb",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Post Upload Failed on Instagram",
        "message": "=Hello Admin,\n<br><br>\nThe Automation failed to post on Instagram.\n<br><br>\n<b>Post Details:</b>\n<br>\nTitle: {{ $('Data after Admin Validation').item.json['Post Title'] }}\n<br>\nPlatform: Instagram\n<br>\nResult:\nFailed\n<br><br>\n<b>\n<br><br>\nPlease try again or contact the admin for further assistance.\n<br><br>\nRegards,<br>\nAdmin Team (n8n)",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "dfdbc0ce-1865-48fa-914f-ae3e15e4a60e",
      "name": "Failed Post Error On Instagram",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4304,
        192
      ],
      "webhookId": "5a6ceb8c-0e0b-4548-89ba-b18f6a825939",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Post Upload Failed on Instagram",
        "message": "=Hi Media Team,\n<br><br>\nThe Automation failed to post on Instagram.\n<br><br>\n<b>Post Details:</b>\n<br>\nTitle: {{ $('On form submission').item.json['Post Title'] }}\n<br>\nPlatform: Instagram\n<br>\nResult:\nFailed\n<br><br>\nPlease try again or contact the admin for further assistance.\n<br><br>\nRegards,<br>\nAdmin Team (n8n)",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e798ce6f-32fb-4865-9e99-cb7b12874700",
      "name": "Failed Post Error On Instagram (1)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5200,
        416
      ],
      "webhookId": "5a6ceb8c-0e0b-4548-89ba-b18f6a825939",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Post Upload Failed on Facebook",
        "message": "=Hello Admin,\n<br><br>\nThe Automation Failed to post on Facebook\n<br><br>\n<b>Post Details:</b>\n<br>\nTitle: {{ $('Data after Admin Validation').item.json['Post Title'] }}\n<br>\nPlatform: Facebook\n<br>\nResult:\nFailed\n<br><br>\nPlease try again or contact the admin for further assistance.\n<br><br>\nRegards,<br>\nAdmin Team (n8n)",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "219bfb8a-cedc-4192-acf9-265239e5a16f",
      "name": "Failed Post Error On Facebook",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4976,
        624
      ],
      "webhookId": "5a6ceb8c-0e0b-4548-89ba-b18f6a825939",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Post Upload Failed on LinkedIn",
        "message": "=Hello Admin,\n<br><br>\nThe Automation Failed to post on LinkedIn.\n<br><br>\n<b>Post Details:</b>\n<br>\nTitle: \n<br>\nPlatform: LinkedIn\n<br>\nResult:\nFailed\n<br><br>\nPlease try again or contact the admin for further assistance.\n<br><br>\nRegards,<br>\nAdmin Team (n8n)",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a64647d7-33ea-4ef2-b81e-2754224ee1ff",
      "name": "Failed Post Error On LinkedIn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4976,
        816
      ],
      "webhookId": "5a6ceb8c-0e0b-4548-89ba-b18f6a825939",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "Oc0QysSzRJ7c55O0",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "=None",
            "Platform": "={{ Array.isArray($('On form submission').item.json['Target Platform']) ? $('On form submission').item.json['Target Platform'].join(',') : $('On form submission').item.json['Target Platform'] }}",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Result": "=UnSuccessful",
            "Post Title": "={{ $('On form submission').item.json['Post Title'] }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5904,
        1056
      ],
      "id": "a02007e7-71b6-4437-984f-2b57b22044c0",
      "name": "Official Post Error Event Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=20883542#gid=20883542",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Post Title": "={{ $('On form submission').item.json['Post Title'] }}",
            "Post Type": "={{ $('On form submission').item.json['Post Type'] }}",
            "Caption": "={{ $('On form submission').item.json.Caption }}",
            "Media Link": "={{ $('On form submission').item.json['Media Link'] }}",
            "Target Platforms": "={{ Array.isArray($('On form submission').item.json['Target Platform']) ? $('On form submission').item.json['Target Platform'].join(',') : $('On form submission').item.json['Target Platform'] }}",
            "Media Status": "Delayed",
            "Publisher Status": "=Done",
            "Final Approval": "=No",
            "Time": "={{ $now.format('HH:mm') }}",
            "Remarks": "Wrong Drive Link Provided",
            "Posting ID": "={{ $('Code to Generate Unique ID').item.json.my_new_field }}"
          },
          "matchingColumns": [
            "Posting ID"
          ],
          "schema": [
            {
              "id": "Posting ID",
              "displayName": "Posting ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Link",
              "displayName": "Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Platforms",
              "displayName": "Target Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Status",
              "displayName": "Media Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publisher Status",
              "displayName": "Publisher Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final Approval",
              "displayName": "Final Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6528,
        976
      ],
      "id": "cc6e9989-1329-490e-80a7-96b75df2b7f0",
      "name": "Wrong Drive Link (Data)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=86940696#gid=86940696",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "=None",
            "Platform": "={{ Array.isArray($('On form submission').item.json['Target Platform']) ? $('On form submission').item.json['Target Platform'].join(',') : $('On form submission').item.json['Target Platform'] }}",
            "Timestamp": "={{ $now.format(\"DD HH:mm\") }}",
            "Result": "=UnSuccessful",
            "Post Title": "={{ $('On form submission').item.json['Post Title'] }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6544,
        1136
      ],
      "id": "0544f397-5490-44f8-b43e-a9c8d579a8c2",
      "name": "Official Post Error Event Log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MfmvbgVgz_qip8qA-I3F4itw1Kj17L933l_bNxSIOF0/edit?gid=20883542#gid=20883542",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final Approval": "No",
            "Time": "={{ $now.format('HH:mm') }}",
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Post Title": "={{ $('On form submission').item.json['Post Title'] }}",
            "Post Type": "={{ $('On form submission').item.json['Post Type'] }}",
            "Caption": "={{ $('On form submission').item.json.Caption }}",
            "Media Link": "={{ $('On form submission').item.json['Media Link'] }}",
            "Target Platforms": "={{\n  $if(\n    [\"Facebook\", \"Instagram\", \"Whatsapp\", \"LinkedIn\"].every(p => $json['Target Platform'].includes(p)),\n    \"All Platforms\",\n    $json['Target Platform'].join(\", \")\n  )\n}}",
            "Media Status": "Delayed",
            "Publisher Status": "Done",
            "Remarks": "Wrong Photo provided for an official post",
            "Posting ID": "={{ $('Code to Generate Unique ID').item.json.my_new_field }}"
          },
          "matchingColumns": [
            "Posting ID"
          ],
          "schema": [
            {
              "id": "Posting ID",
              "displayName": "Posting ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Link",
              "displayName": "Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Platforms",
              "displayName": "Target Platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Media Status",
              "displayName": "Media Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publisher Status",
              "displayName": "Publisher Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final Approval",
              "displayName": "Final Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5904,
        880
      ],
      "id": "aa1d17eb-7677-43e3-a826-6e03e43af229",
      "name": "Official Post Error (Data)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eO1YS1SKiiFTtnhg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const uuid = () => {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n};\n\nreturn $input.all().map((item, index) => ({\n  json: {\n    ...item.json,\n    my_new_field: uuid()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7888,
        976
      ],
      "id": "3d308bc2-4a3e-4032-b7a7-53bedbccd4d6",
      "name": "Code to Generate Unique ID",
      "retryOnFail": false,
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "post to facebook": {
      "main": [
        [
          {
            "node": "Event Log For FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Data after Admin Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Team Data": {
      "main": [
        [
          {
            "node": "Read Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data after Admin Validation": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Image": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose between platforms": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "post to facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create LinkedIn post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram1": {
      "main": [
        [
          {
            "node": "Event Log for IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LinkedIn post": {
      "main": [
        [
          {
            "node": "Event Log for LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create Instagram Container ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Post Error On Instagram (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Container ID": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Post Error On Instagram (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Post to Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Log for IG": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Failed Post Error On Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Log For FB": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Failed Post Error On Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Log for LinkedIn": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Failed Post Error On LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code to Generate Unique ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong Media Link Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong Media Link Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrong Media Link Message": {
      "main": [
        [
          {
            "node": "Wrong Drive Link (Data)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Official Post Error Event Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Official Post Error": {
      "main": [
        [
          {
            "node": "Official Post Error (Data)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Official Post Error Event Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Read Image4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Official Post Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Image4": {
      "main": [
        [
          {
            "node": "Choose between platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Post Error On Instagram (1)": {
      "main": [
        [
          {
            "node": "Event Log for IG Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code to Generate Unique ID": {
      "main": [
        [
          {
            "node": "Media Team Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a853b27-4309-48c4-a8c0-e8e96e8887f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "661b5c256d2c054f55a1c8b470197e7f87bc2fa44ddee69e7c5bcaa08fe4c255"
  },
  "id": "iCI7p3yo3GE7AmLL",
  "tags": []
}